fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-dotenv
pydantic
pydantic-settings
google-generativeai
python-jose[cryptography]
python-multipart
python-socketio
httpx
passlib[argon2]
argon2-cffi
pgvector